<table width="300">
  <tbody>
    <tr>
      <td>
        <p>Организация (индивидуальный предприниматель)</p>
        <p></p>
        <p>КВИТАНЦИЯ</p>
        <p>к приходному кассовому</p>
        <p>ордеру</p>
        <p>№</p>
        <p>Принято от</p>
        <p></p>
        <p></p>
        <p></p>
        <p>Основание</p>
        <p></p>
        <p></p>
        <p>Сумма</p>
        <p>тенге</p>
        <p>&nbsp;прописью</p>
        <p>МП "___"__________20_ года</p>
        <p>Главный бухгалтер или уполномоченное лицо</p>
        <p></p>
        <p>подпись расшифровка</p>
        <p>подписи</p>
        <p>Кассир</p>
        <p>подпись расшифровка</p>
        <p>подписи</p>
      </td>
    </tr>
  </tbody>
</table>

<style type="text/css">
  p {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  }

  p:after {
    content: "";
    flex: 1;
    border: 1px solid #c4c4c4;
    margin-inline-start: 0.5rem;
  }
</style>