<div>
  <div class="doc" id="doc">
    <table border="0">
      <tbody>
        <tr>
          <td>
            <p>Организация (индивидуальный предприниматель)___________________________</p>
            <p>Склад _____________________________________</p>
          </td>
          <td>
            <p>ИИН/БИН</p>
          </td>
          <td>
            <p></p>
            <table style="width: 4.65625px;">
              <tbody>
                <tr>
                  <td><br></td>
                </tr>
              </tbody>
            </table>
            <p></p>
            <br>
          </td>
        </tr>
      </tbody>
    </table>
    <p></p>
    <h3 class="text-center">Приходный ордер ЗАПАСОВ</h3>
    <p></p>
    <table class="table-bordered">
      <tbody>
        <tr>
          <td>
            <p>Номер документа</p>
          </td>
          <td>
            <p>Дата составления</p>
          </td>
          <td>
            <p>Вид операции</p>
          </td>
          <td>
            <p>Наименование поставщика</p>
          </td>
          <td>
            <p>Корреспондирующий счет</p>
          </td>
          <td>
            <p>Номер сопроводительного документа</p>
          </td>
          <td>
            <p>Номер платежного документа</p>
          </td>
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
        </tr>
      </tbody>
    </table>
    <p></p>
    <p><br></p>
    <p></p>
    <table class="table-bordered">
      <tbody>
        <tr>
          <td rowspan="2">
            <p>Наименование, сорт, размер, марка</p>
          </td>
          <td rowspan="2">
            <p>Номенклатурный номер</p>
          </td>
          <td rowspan="2">
            <p>Единица измерения</p>
          </td>
          <td colspan="2">
            <p>По документу</p>
          </td>
          <td colspan="2">
            <p>Принято</p>
          </td>
          <td rowspan="2">
            <p>Цена за единицу, в тенге</p>
          </td>
          <td rowspan="2">
            <p>Сумма, в тенге</p>
          </td>
          <td rowspan="2">
            <p>Номер паспорта*</p>
          </td>
          <td rowspan="2">
            <p>Порядковый номер записи по складской картотеке</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>количество</p>
          </td>
          <td>
            <p>масса</p>
          </td>
          <td>
            <p>количество</p>
          </td>
          <td>
            <p>масса</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>1</p>
          </td>
          <td>
            <p>2</p>
          </td>
          <td>
            <p>3</p>
          </td>
          <td>
            <p>4</p>
          </td>
          <td>
            <p>5</p>
          </td>
          <td>
            <p>6</p>
          </td>
          <td>
            <p>7</p>
          </td>
          <td>
            <p>8</p>
          </td>
          <td>
            <p>9</p>
          </td>
          <td>
            <p>10</p>
          </td>
          <td>
            <p>11</p>
          </td>
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
        </tr>
        <tr>
          <td colspan="3">
            <p>Итого</p>
          </td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td><br></td>
          <td colspan="3"><br></td>
        </tr>
      </tbody>
    </table>
    <p></p>
    <p><br></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Принял _______/_________________ Сдал ________/__________________</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; подпись расшифровка подписи подпись расшифровка подписи</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *Графа "Номер паспорта" заполняется при оформлении операций по запасам, содержащим драгоценные металлы и камни.</p>
  </div>

  <div class="functions row">
    <div class="col d-grid gap-2">
      <button type="button" onclick="printPage()" class="btn btn-success btn-lg">Печать документа</button>
    </div>
    <div class="col d-grid gap-2">
      <a href="{{ $prevPage }}" class="btn btn-primary btn-lg">Назад</a>
    </div>
  </div>

  <style type="text/css">
    body {
      max-width: 797px;
      margin: 0 auto;
    }
    table {
      border-collapse: collapse;
    }
    .margin-left-auto {
      margin-left: auto;
    }
    .doc {
      background-color: #fff;
      max-width: 797px;
      padding: 10px 38px;
    }
  </style>

  <script>
    function printPage() {
      var printContents = document.getElementById('doc').innerHTML;
      var originalContents = document.body.innerHTML;

      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;
    }
  </script>
</div>