
<p>
<table border="0" width="615">
  <tr>
    <td><p>Организация (индивидуальный предприниматель) _____________________</p></td>
    <td><p>ИИН/БИН</p></td>
    <td><p><table width="615"><tr><td><br></td>
        </tr>
      </table>
      </p><br>
    </td>
  </tr>
</table>
</p><br>
<p>
<table width="615">
  <tr>
    <td><p>Номер документа</p></td>
    <td><p>Дата составления</p></td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
  </tr>
</table>
</p>
<h3> ИНВЕНТАРИЗАЦИОННАЯ ОПИСЬ ЗАПАСОВ</h3>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _____________________________________________________________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; вид запасов
</p>
<h3> РАСПИСКА</h3>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; К началу проведения инвентаризации все документы, относящиеся к приходу и расходу запасов, сданы в бухгалтерию, и все запасы, поступившие на мою ответственность, оприходованы, а выбывшие списаны в расход.
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Материально-ответственное (ые) лицо (а):
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _____________/____________/___________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; должность     подпись     расшифровка подписи
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _____________/______________/____________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                  должность     подпись       расшифровка подписи
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; На основании приказа (распоряжения) от "____" ____ 20____года №____ произведено снятие фактических остатков______ числящихся на балансовом счете №_______ по состоянию на "____" __ 20____года.
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Инвентаризация начата "____" _________________ 20____года.
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Инвентаризация окончена "____" _________________ 20____года.
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                     Оборотная сторона формы Инв-10
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; При инвентаризации установлено следующее:
</p>
<p>
<table width="615">
  <tr>
    <td rowspan="2"><p>Номер по порядку</p></td>
    <td rowspan="2"><p>Наименование, характеристика</p></td>
    <td rowspan="2"><p>Счет</p></td>
    <td rowspan="2"><p>Номенклатурный номер</p></td>
    <td rowspan="2"><p>Единица измерения</p></td>
    <td rowspan="2"><p>Цена за единицу, в тенге</p></td>
    <td colspan="2"><p>Фактическое наличие</p></td>
    <td colspan="2"><p>По данным бухгалтерского учета</p></td>
  </tr>
  <tr>
    <td><p>количество</p></td>
    <td><p>сумма, в тенге</p></td>
    <td><p>количество</p></td>
    <td><p>сумма, в тенге</p></td>
  </tr>
  <tr>
    <td><p>1</p></td>
    <td><p>2</p></td>
    <td><p>3</p></td>
    <td><p>4</p></td>
    <td><p>5</p></td>
    <td><p>6</p></td>
    <td><p>7</p></td>
    <td><p>8</p></td>
    <td><p>9</p></td>
    <td><p>10</p></td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td colspan="3"><p>и т. д. линовка до конца листа</p></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <td colspan="5"><p>Итого</p></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
</table>
</p><br>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Итого по описи: а) порядковых номеров _________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; прописью 
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                 б) общее количество, фактически __________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; прописью
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                 в) на сумму, в тенге, фактически ______________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; прописью
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Председатель комиссии ______________/_______________/_____________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                          должность     подпись          расшифровка
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                                          подписи
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Члены комиссии _____________/____________/___________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; должность     подпись     расшифровка подписи
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _____________/______________/____________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                  должность     подпись       расшифровка подписи
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Все запасы, поименованные в настоящей инвентаризационной описи с № ______ по № ______, комиссией проверены в натуре в моем (нашем) присутствии и внесены в опись, в связи с чем, претензий к инвентаризационной комиссии не имею (не имеем). Запасы, перечисленные в описи, находятся на моем (нашем) ответственном хранении.
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Материально-ответственное (ые) лицо (а) за сохранность запасов: 
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "___" _________________ 20___года.
</p>
