<div style="width: 620px;">
  <p>Организация (индивидуальный предприниматель)</p>
  <table> <!-- Height 877 -->
     <tbody>
        <tr>
           <td>
              <p>ИИН/БИН</p>
           </td>
           <td>
              <p></p>
              <table style="border: 1px solid #111;">
                 <tbody>
                    <tr>
                       <td><br></td>
                    </tr>
                 </tbody>
              </table>
              <p></p>
              <br>
           </td>
        </tr>
        <tr>
           <td><br></td>
           <td>
              <p></p>
              <table>
                 <tbody>
                    <tr>
                       <td>
                          <p>Номер документа</p>
                       </td>
                       <td>
                          <p>Дата</p>
                          <p>составления</p>
                       </td>
                    </tr>
                    <tr>
                       <td><br></td>
                       <td><br></td>
                    </tr>
                 </tbody>
              </table>
              <p></p>
              <br>
           </td>
        </tr>
        <tr>
           <td colspan="2">
              <p>РАСХОДНЫЙ КАССОВЫЙ ОРДЕР</p>
              <p></p>
              <table width="615">
                 <tbody>
                    <tr>
                       <td>
                          <p>Дебет</p>
                       </td>
                       <td rowspan="2">
                          <p>Кредит</p>
                       </td>
                       <td rowspan="2">
                          <p>Сумма, в тенге</p>
                       </td>
                       <td rowspan="2">
                          <p>Код целевого назначения</p>
                       </td>
                    </tr>
                    <tr>
                       <td>
                          <p>корреспондирующий счет</p>
                       </td>
                    </tr>
                    <tr>
                       <td><br></td>
                       <td><br></td>
                       <td><br></td>
                       <td><br></td>
                    </tr>
                 </tbody>
              </table>
              <br>
              <p>Выдать</p>
              <p>фамилия, имя, отчество</p>
              <p>Основание</p>
              <p></p>
              <p>Прилагаемые документы</p>
              <p></p>
              <p>Сумма</p>
              <p>прописью </p>
              <p>тенге</p>
              <p>Руководитель</p>
              <p>должность           подпись               расшифровка подписи</p>
              <p>Главный бухгалтер или уполномоченное лицо /</p>
              <p>подпись        расшифровка подписи</p>
              <p>Получил ""20года / </p>
              <p>подпись фамилия, имя, отчество</p>
              <p>по</p>
              <p>наименование, номер, дата и место выдачи документа удостоверяющего личность</p>
              <p>получателя </p>
              <p>Выдал кассир /</p>
              <p>подпись расшифровка подписи</p>
           </td>
        </tr>
     </tbody>
  </table>
</div>

<style type="text/css">
  p {
  display: flex;
  align-items: center;
}

p:after {
  content: "";
  flex: 1;
  border: 1px solid #c4c4c4;
  margin-inline-start: 0.5rem;
}

</style>