<p align="right">
<table border="0">
  <tr>
    <td align="center" width="387">&nbsp;</td>
    <td align="center" width="228"><a name="z84"></a>Приложение 30<br>к приказу Министра финансов<br>Республики Казахстан<br>от 20 декабря 2012 года № 562 <br>Форма З-6</td>
  </tr>
</table>
</p>
<p>
<table border="0" width="615">
  <tr>
    <td>
      <p>
        Организация (индивидуальный предприниматель) ______________
      </p>
    </td>
    <td>
      <p>
        ИИН/БИН
      </p>
    </td>
    <td>
      <p>
      <table width="615">
        <tr>
          <td><br></td>
        </tr>
      </table>
      </p><br>
    </td>
  </tr>
</table>
</p>
<p align="right">
<table border="0">
  <tr>
    <td align="center" width="387">&nbsp;</td>
    <td align="center" width="228">Утверждаю<br>Руководитель организации (индивидуальный предприниматель)</td>
  </tr>
</table>
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _____________/_____________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; подпись      расшифровка подписи
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "___" ______________________ 20___ года
</p>
<h3> АКТ списания запасов</h3>
<p>
<table width="615">
  <tr>
    <td rowspan="2">
      <p>
        Номер  документа
      </p>
    </td>
    <td rowspan="2">
      <p>
        Дата  составления
      </p>
    </td>
    <td rowspan="2">
      <p>
        Структурное подразделение (склад, цех, отдел, участок, бригада)
      </p>
    </td>
    <td colspan="3">
      <p>
        Основание
      </p>
    </td>
    <td rowspan="2">
      <p>
        Материально – ответственное лицо (Ф.И.О.)
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        наименование документа
      </p>
    </td>
    <td>
      <p>
        номер документа
      </p>
    </td>
    <td>
      <p>
        дата
      </p>
    </td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
</table>
</p><br>
<p>
<table width="615">
  <tr>
    <td>
      <p>
        Номер по порядку
      </p>
    </td>
    <td>
      <p>
        Наименование, сорт, марка, размер
      </p>
    </td>
    <td>
      <p>
        Номенклатурный номер
      </p>
    </td>
    <td>
      <p>
        Дата приобретения
      </p>
    </td>
    <td>
      <p>
        Срок службы
      </p>
    </td>
    <td>
      <p>
        Единица измерения
      </p>
    </td>
    <td>
      <p>
        Подлежит списанию (количество)
      </p>
    </td>
    <td>
      <p>
        Цена за единицу, в тенге
      </p>
    </td>
    <td>
      <p>
        Сумма, в тенге
      </p>
    </td>
    <td>
      <p>
        Причина списания
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        1
      </p>
    </td>
    <td>
      <p>
        2
      </p>
    </td>
    <td>
      <p>
        3
      </p>
    </td>
    <td>
      <p>
        4
      </p>
    </td>
    <td>
      <p>
        5
      </p>
    </td>
    <td>
      <p>
        6
      </p>
    </td>
    <td>
      <p>
        7
      </p>
    </td>
    <td>
      <p>
        8
      </p>
    </td>
    <td>
      <p>
        9
      </p>
    </td>
    <td>
      <p>
        10
      </p>
    </td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <td colspan="6">
      <p>
        Итого
      </p>
    </td>
    <td><br></td>
    <td>
      <p>
        х
      </p>
    </td>
    <td><br></td>
    <td><br></td>
  </tr>
</table>
</p><br>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                         Оборотная сторона формы № З-6
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Всего списано запасов за счет виновных лиц (количество прописью)_____
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       в том числе вследствие порчи, боя, лома запасов (количество прописью)__________________________________________________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       в том числе вследствие недостач и потерь запасов (количество прописью)__________________________________________________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Всего списано запасов за счет организации (индивидуального
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; предпринимателя) (прописью)________________________________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            в том числе вследствие порчи, боя, лома запасов на сумму (прописью), в тенге________________________________________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       в том числе вследствие недостач и потерь запасов на сумму (прописью), в тенге _______________________________________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Решение и рекомендации комиссии:___________________________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Перечисленные в настоящем акте запасы, которые по решению комиссии
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; оприходованы в утиль (лом):
</p>
<p>
<table width="615">
  <tr>
    <td rowspan="2">
      <p>
        Номер по порядку
      </p>
    </td>
    <td colspan="2">
      <p>
        Утиль (лом)
      </p>
    </td>
    <td rowspan="2">
      <p>
        Единица измерения
      </p>
    </td>
    <td rowspan="2">
      <p>
        Количество
      </p>
    </td>
    <td rowspan="2">
      <p>
        Цена за единицу, в тенге
      </p>
    </td>
    <td rowspan="2">
      <p>
        Сумма, в тенге
      </p>
    </td>
    <td rowspan="2">
      <p>
        Номер приходного ордера
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        наименование, характеристика (сорт, марка, размер и т.п.)
      </p>
    </td>
    <td>
      <p>
        номенклатурный номер
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        1
      </p>
    </td>
    <td>
      <p>
        2
      </p>
    </td>
    <td>
      <p>
        3
      </p>
    </td>
    <td>
      <p>
        4
      </p>
    </td>
    <td>
      <p>
        5
      </p>
    </td>
    <td>
      <p>
        6
      </p>
    </td>
    <td>
      <p>
        7
      </p>
    </td>
    <td>
      <p>
        8
      </p>
    </td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <td colspan="4">
      <p>
        Итого
      </p>
    </td>
    <td><br></td>
    <td>
      <p>
        х
      </p>
    </td>
    <td><br></td>
    <td><br></td>
  </tr>
</table>
</p><br>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Всего утиль (лом) оприходовать в сумме (прописью), в тенге __________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Председатель комиссии _____________/ __________/____________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                          должность       подпись  расшифровка подписи
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Члены комиссии: ______________/ _________________/ _____________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   должность       подпись       расшифровка подписи
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _______________/ _______________/ ________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   должность          подпись      расшифровка подписи
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Материально-ответственное лицо _________/ __________/ _____________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                 должность   подпись     расшифровка
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                                          подписи
</p>
<p align="right">
<table border="0">
  <tr>
    <td align="center" width="387">&nbsp;</td>
    <td align="center" width="228"><a name="z85"></a>Приложение 31<br>к приказу Министра финансов<br>Республики Казахстан<br>от 20 декабря 2012 года № 562 <br>Форма З-7</td>
  </tr>
</table>
</p>
<p>
<table border="0" width="615">
  <tr>
    <td>
      <p>
        _______________________________________
      </p>
      <p>
        Организация (индивидуальный предприниматель)
      </p>
      <p>
        Склад __________________________________
      </p>
      <p>
        Цех ____________________________________
      </p>
    </td>
    <td>
      <p>
        ИИН/БИН
      </p>
    </td>
    <td>
      <p>
      <table width="615">
        <tr>
          <td><br></td>
        </tr>
      </table>
      </p><br>
    </td>
  </tr>
</table>
</p>
<h3> Ведомость учета остатков запасов на складе</h3>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Материально-ответственное лицо _____________/___________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                  должность       Ф.И.О.
</p>
<p>
<table width="615">
  <tr>
    <td>
      <p>
        Номер документа
      </p>
    </td>
    <td>
      <p>
        Дата составления
      </p>
    </td>
    <td>
      <p>
        Отчетный период
      </p>
    </td>
    <td>
      <p>
        Структурная единица организации (индивидуального предпринимателя)
      </p>
    </td>
    <td>
      <p>
        Цех
      </p>
    </td>
    <td>
      <p>
        Склад
      </p>
    </td>
    <td>
      <p>
        Кладовая
      </p>
    </td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
</table>
</p><br>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Подпись материально-ответственного лица __________________
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Проверил бухгалтер __________________________________
</p>
<p>
<table width="615">
  <tr>
    <td rowspan="3">
      <p>
        Номер по порядку
      </p>
    </td>
    <td rowspan="3">
      <p>
        Наименование, характеристика
      </p>
    </td>
    <td rowspan="3">
      <p>
        Номенклатурный номер
      </p>
    </td>
    <td rowspan="3">
      <p>
        Единица измерения
      </p>
    </td>
    <td rowspan="3">
      <p>
        Количество
      </p>
    </td>
    <td rowspan="3">
      <p>
        Цена за единицу, в тенге 
      </p>
    </td>
    <td rowspan="3">
      <p>
        Норма запаса
      </p>
    </td>
    <td colspan="2">
      <p>
        Остаток на ___
      </p>
    </td>
    <td colspan="4">
      <p>
        Обороты за период
      </p>
    </td>
  </tr>
  <tr>
    <td rowspan="2">
      <p>
        количество
      </p>
    </td>
    <td rowspan="2">
      <p>
        сумма, в тенге
      </p>
    </td>
    <td colspan="2">
      <p>
        Приход
      </p>
    </td>
    <td colspan="2">
      <p>
        Расход
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        количество
      </p>
    </td>
    <td>
      <p>
        сумма, в тенге
      </p>
    </td>
    <td>
      <p>
        количество
      </p>
    </td>
    <td>
      <p>
        сумма, в тенге
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        1
      </p>
    </td>
    <td>
      <p>
        2
      </p>
    </td>
    <td>
      <p>
        3
      </p>
    </td>
    <td>
      <p>
        4
      </p>
    </td>
    <td>
      <p>
        5
      </p>
    </td>
    <td>
      <p>
        6
      </p>
    </td>
    <td>
      <p>
        7
      </p>
    </td>
    <td>
      <p>
        8
      </p>
    </td>
    <td>
      <p>
        9
      </p>
    </td>
    <td>
      <p>
        10
      </p>
    </td>
    <td>
      <p>
        11
      </p>
    </td>
    <td>
      <p>
        12
      </p>
    </td>
    <td>
      <p>
        13
      </p>
    </td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
</table>
</p><br>
<p>
<table width="615">
  <tr>
    <td colspan="2">
      <p>
        Остаток
      </p>
      <p>
        на _____
      </p>
    </td>
    <td colspan="4">
      <p>
        Обороты за период
      </p>
    </td>
    <td colspan="2">
      <p>
        Остаток на ________
      </p>
    </td>
    <td colspan="4">
      <p>
        Обороты за период
      </p>
    </td>
    <td colspan="2">
      <p>
        Остаток на
      </p>
      <p>
        _______
      </p>
    </td>
  </tr>
  <tr>
    <td rowspan="2">
      <p>
        количество
      </p>
    </td>
    <td rowspan="2">
      <p>
        сумма, в тенге
      </p>
    </td>
    <td colspan="2">
      <p>
        Приход
      </p>
    </td>
    <td colspan="2">
      <p>
        Расход
      </p>
    </td>
    <td rowspan="2">
      <p>
        количество
      </p>
    </td>
    <td rowspan="2">
      <p>
        сумма, в тенге
      </p>
    </td>
    <td colspan="2">
      <p>
        Приход
      </p>
    </td>
    <td colspan="2">
      <p>
        Расход
      </p>
    </td>
    <td rowspan="2">
      <p>
        количество
      </p>
    </td>
    <td rowspan="2">
      <p>
        сумма, в тенге
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        количество
      </p>
    </td>
    <td>
      <p>
        сумма, в тенге
      </p>
    </td>
    <td>
      <p>
        количество
      </p>
    </td>
    <td>
      <p>
        сумма, в тенге
      </p>
    </td>
    <td>
      <p>
        количество
      </p>
    </td>
    <td>
      <p>
        сумма, в тенге
      </p>
    </td>
    <td>
      <p>
        количество
      </p>
    </td>
    <td>
      <p>
        сумма, в тенге
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        14
      </p>
    </td>
    <td>
      <p>
        15
      </p>
    </td>
    <td>
      <p>
        16
      </p>
    </td>
    <td>
      <p>
        17
      </p>
    </td>
    <td>
      <p>
        18
      </p>
    </td>
    <td>
      <p>
        19
      </p>
    </td>
    <td>
      <p>
        20
      </p>
    </td>
    <td>
      <p>
        21
      </p>
    </td>
    <td>
      <p>
        22
      </p>
    </td>
    <td>
      <p>
        23
      </p>
    </td>
    <td>
      <p>
        24
      </p>
    </td>
    <td>
      <p>
        25
      </p>
    </td>
    <td>
      <p>
        26
      </p>
    </td>
    <td>
      <p>
        27
      </p>
    </td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
</table>